img {
  width: 445px;
  height: 550px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.enlace {
  text-align: center;
  padding-top: 20px;
}

.enlace a {
  text-decoration-line: none;
  font-family: inherit;
  padding-top: 20px;
  padding-left: 3px;
}
.enlace img {
  width: 30px;
  height: 20px;
}